<div class="card">
    <div class="card-header">
        Voting Table
    </div>
    <div class="card-body">
        <table class="table table-border table-striped">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Likes</th>
                    <th scope="col">Dislikes</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let votingLine of votingLines">
                    <td>{{votingLine.item}}</td>
                    <td>{{votingLine.likes}}</td>
                    <td>{{votingLine.dislikes}}</td>
                </tr>

            </tbody>

        </table>

    </div>

</div>
